/*Agregando una fuente propia en los archivos*/
@font-face {
    font-family: quartzo;
    src: url(QuartzoBold-W9lv.ttf);
}

body{
    font-family: sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    padding-bottom: 5%;
    text-align: justify;
}
.quartzo{
    font-family: quartzo;
    color: black;
}
/*Establece el padding de la navbar como 0 usando !important para marcarlo
 como prioritario encima de los estilos predeterminados de la clase en bootstrap, practica no recomendada*/
.bar{
    padding: 0% !important;
}
/*Navbar con colores gradientes*/
.navbar{
    padding: 0% 0% 2% 0%;
    background-image: linear-gradient(to right, #19cbbd, #212acf);
}
/*Logotipo de la empresa en navbar*/
.navbar-brand{
    font-size: 1rem;
    font-weight: 600;
    padding-left: 2%;
    
  }
  /*Los items que se mostraran en la navbar*/
.nav-item{
padding: 0 18px;
}

.navbar-nav .nav-link{
font-size: larger;
font-weight: 600;
padding: 0%;


}
.calculadora-img{
    width: 85%;
    height: 100%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container-fluid{
    position: relative;
}
.row{
    padding: 0 5%;
}
/*Sections*/
#rutine{
    background-color: white;
}
.columns{
    padding: 7% 2%;
    font-size:large;

}
.description{
    padding: 3% 2%; 
}
.card{
    position: absolute;
    width: 18rem;
    text-align: center;
    color:black;
    font-family:sans-serif;
    font-weight: 400;
    font-size: large;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card .card-header{
    background-image: linear-gradient(to right, #19cbbd, #212acf);
    color: white;
    
}
.btn{
    margin-top: 20px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    padding-bottom: 5px;
    text-align: justify;
}
.centrado{
    font-family: sans-serif;
    text-align: center;
    padding:0%
}
ul{
    list-style: none;
    
}
.justify{
    font-size: large;
    text-align: justify;
}
.diet-img{
    width: 85%;
    height: 100%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*Alinea las columnas de la calculadora IMC conforme al eje x usando la base de los contenedores como referencia*/
.dos{ 
    align-items: baseline;
    padding: 5% 5%;
}
/*Estilos del resultado del IMC*/
.span-danger{
    color: #ff0009;
}
.span-saludable{
    color: #00ff22;
}
.span-sobrepeso{
    color:#ff6a00 ;

}
table{
    font-family: arial, sans-serif;
    margin-bottom: 30px;
    width: 100%;
   
}

th,td{
    font-family: sans-serif;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.dieta{
    font-family: sans-serif;
    font-size: large;

}
.dieta:hover{
    background-image: linear-gradient(to right, #19cbbd, #212acf);
    color: white;
    opacity: 80%;
    
    
}
tr:hover{
    background-image: linear-gradient(to right, #19cbbd, #212acf);
    opacity: 85%;
    color: white;    
}